<% for(let article of data) {%>
    <div class="card">
      <h2 class="card-title"><%=article.title%></h2>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque et sunt eligendi, magnam voluptatum explicabo assumenda pariatur exercitationem repudiandae consequatur.</p>
      <p class="text-author">Written By <%=article.author%></p>
    </div>
<%}%>