<%- include('partials/header'); %>
<% if (number % 2 == 0 ) { %>
    <h2><%=number%> is even number</h2>
<% } 
else { %>
    <h2><%=number%> is odd number</h2>
<% } %>

 <%- include('partials/footer'); %>
