<h1>Browse some Amazing Article</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, cum aliquid facere nemo laudantium velit voluptates necessitatibus voluptate, itaque quidem nisi magni quisquam delectus molestias illum ratione quibusdam beatae vero, exercitationem quia sequi consectetur. Quidem in illum exercitationem eum deleniti omnis, inventore ratione eligendi velit doloribus, error molestias molestiae! Eos?</p>
<a class="btn" href="/articles">
        Get Started        
</a>

